body {
  background-color: black !important;
  font-family: 'Red Hat Display', sans-serif !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cover-image {
  width: 100%;
  height:auto;
  opacity: 80%;
  position: relative;
  margin: 0px;
  background-size: cover;
  width: 100%px;
  overflow:hidden;
}

.carousel-container {
  margin-bottom: 100px;
}

.carousel-caption {
  margin-bottom: 50px;
  text-align: left !important;
  color: white;
}
.carousel-text {
  background: black;
  padding: 20px;
  color: white;
}
.mixcard {
  max-width: 500px;
  height: 500px;
  margin: 20px;
  color: white;
  background-color: black !important;
  border-color: white !important;
  padding: 20px;
}


.nav-style {
  background-color: black !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 150px !important;
  border: solid white 3px;
  color: white !important;
  font-family: 'Red Hat Display', sans-serif !important;
  text-decoration: none !important;
  padding: 16px !important;
}

a:link {
  color: white;
  text-decoration: none !important;
}
a:visited {
  color: white;
  text-decoration: none !important;
}

.genre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px;
}

.genre-text{
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.genre-text-head{
  font-size: 40px;
  margin: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}

.genre-text:hover {
  text-decoration: underline;
  color: white;
}

.host-card {
  height: auto;
  margin: 20px;
  color: white;
  background-color: black !important;
  padding: 15px;
  margin: 20px;
  position: relative;
}

.mycol {
  border: solid 1px white;
}

.host-name {
  text-transform: uppercase;
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  background-color: black;
  color: white;
}

.profile-head {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top:50px;
  margin-bottom:50px;
  margin-left: 90px;
  margin-right: 90px;
  border-bottom: solid white;
}

.form-container {
  margin-top:100px;
  margin-bottom:100px;
  margin-left: 300px;
  margin-right: 300px;
  color: white;
  padding: 80px;
  
}

.signUp {
  color: white;
  display: inline-block;
  text-align:end;
  margin: 30px;
  text-decoration: underline;
}

 .mix-detail{
  text-align: left;
  color: white;

}
.mix-test, .update {
  font-size: 30px;
  text-align: left;
  color: white;
  margin: 20px;
}
