body {
  background-color: black !important;
  font-family: 'Red Hat Display', sans-serif !important;
}

.carousel-image {
  width: 100%;
  height: 45vw;
  object-fit: cover;
  max-height: 885px;
}

.carousel-caption {
  margin-bottom: 50px;
  text-align: left !important;
  color: white;
}

.carousel-text {
  background: black;
  padding: 20px;
  color: white;
}

@media only screen and (max-width: 1020px) {

  .carousel-caption,
  .carousel-text {
    margin: 5px;
    padding: 0px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 480px) {

  .carousel-caption,
  .carousel-text {
    margin: 5px;
    padding: 0px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 1020px) {
  .carousel-image {
    width: 100%;
    height: 65vw;
    object-fit: cover;
  }
}



.mixcard {
  height: 560px;
  max-height: 600px;
  margin: 10px;
  color: rgb(151, 151, 151);
  background-color: black !important;
  border-color: white !important;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
}


.mixcard-image {
  height: 250px;
  object-fit: cover;
}


.nav-style {
  background-color: black !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 150px !important;
  border: solid white 3px;
  color: white !important;
  font-family: 'Red Hat Display', sans-serif !important;
  text-decoration: none !important;
  padding: 16px !important;
}

@media only screen and (max-width: 480px) {
  .nav-style {
    font-size: 14px;
  }
}

a:link {
  color: white;
  text-decoration: none !important;
}

a:visited {
  color: white;
  text-decoration: none !important;
}

.genre-container {
  margin: 50px;
}

.genre-container-mixpage {
  margin: 30px;
  display: flex;
  flex-direction: row;
}

.listed-genres {
  border: solid;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 100% !important;
}


.genre-text {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.genre-text-head {
  font-size: 40px;
  margin: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}


@media only screen and (max-width: 480px) {
  .genre-text-head {
    font-size: 28px;
    text-align: center;
  }
}


.genre-text:hover {
  text-decoration: underline;
  color: white;
}

.host-card {
  height: auto;
  margin: 20px;
  color: white;
  background-color: black !important;
  padding: 15px;
  margin: 20px;
  position: relative;
}

.host-img {
  max-height: 500px;
  max-width: 600px;
}

@media only screen and (max-width: 480px) {
  .host-img {
    max-height: 400px;
    max-width: 300px;
    object-fit: cover;
  }
}

.mycol {
  border: solid 1px white;
}

.host-name {
  text-transform: uppercase;
  position: absolute;
  font-size: 40px;
  font-weight: 600;
  background-color: black;
  color: white;
}

@media only screen and (max-width: 480px) {
  .host-name {
    font-size: 24px;
  }
}

.profile-head {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 90px;
  border-bottom: solid white;
}

.post {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 90px;
  margin-right: 90px;
}

.form-container {
  margin-top: 100px;
  margin-bottom: 100px;
  color: white;
  padding: 80px;
}

@media only screen and (min-width: 950px) {
  .form-container {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    color: white;
    padding: 80px;
  }
}

.signUp {
  color: white;
  display: inline-block;
  text-align: end;
  margin: 30px;
  text-decoration: underline;
}

.mix-detail {
  text-align: left;
  color: white;
}

.host-link {
  font-weight: 800;
  text-transform: uppercase;
}

.mix-detail-title {
  font-size: 45px;
  text-transform: uppercase;
  color: white;
  margin: 25px;
}

.mix-test,
.update {
  font-size: 22px;
  text-align: left;
  color: white;
  margin: 25px;
}

.host-head {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: left;
  color: white;
  margin: 25px;
}


.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30px;
  height: 35px;
  margin: 10px;
}

#like,
#update {
  margin: 10px;
  margin-bottom: 100px;
}


.cardtitle {
  font-size: 30px;
  font-weight: 600;
}

.iframe {
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.iframe-container {
  height: 30px;
  background-color: rgb(56, 56, 58);
  padding: 20px;
}

.mix-image {
  position: relative;
}


.mixdetail-loading {
  visibility: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}